body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main--div {
  margin: 2% 10% auto;
  border: 3px solid green;
  padding: 5px 5px 5px;
  border-radius: 20px;
}

.main--container {
 display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 10px 10px;
}

.main--col {
  display: flex;
    justify-content: center;
    flex-direction: row;
}
.main--row {
  
  border-radius: 30px;
}
.main--btn {
  border-radius: 20px;
}

.h1--div{
  
  text-align: center;
  margin: 2% 6% auto;
  
}